<div class='main-container' >
  <div class='screen-add-category'>
    <% $context = 'ADD CATEGORY' %>  
      <br>
      <%= render partial: "shared/new_group", group: @group %>
      <br>
  </div>
</div>
