<div style="
  text-align: left;
  color: blue;
  padding-left: 2%;
"
>
  <% if current_user %>
    Signed in as <%= current_user.name %><br>
  
  <% end %>
  <p class="flash-notice"><%= notice %></p>
  <p class="flash-alert"><%= alert %></p>  
</div>

