<% if false %>
<% end %>
  <div class='user_box' >
    <div class='user_namePost'>
        <div class='user_name'>
          
        </div>
          <div class="user_numOfPosts"
        <p>Users: <%= user.name %></p>
        </div>
    </div>
  </div>
