@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-size: 18px;
}

body {
  background-color: var(--background);
  border: 1px solid red;
  --foreg: #3979c3;
  --hover: #083c77;
  --background: #f1f1f1;
}

html {
  /* For mobile */
  max-width: 480px;
  margin: auto;
  height: 100vh;
  max-height: 480px;
  
  border-radius: 3px;
}

/* -----NAVBAR  ---- */
.topnav {
  overflow: hidden;
  background-color: var(--foreg);
  position: relative;
  margin: 0 1%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  padding-top: 15%;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: var(--foreg);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: var(--hover);
  color: white;
}

/* Style the active link (or home/logo) */
.active {
  margin-left: 35%;
  background-color: var(--foreg);
  color: white;
}

#navTitle a:hover {
  display: block;
  background-color: var(--foreg);
}

.topnav #myLinks a {
  background-color: var(--foreg);
}

.topnav #myLinks a:hover {
  background-color: var(--hover);
}

/* -----App Common  ---- */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  padding-top: 0;
  text-align: center;
  color: var(--foreg);
  border: 1px solid grey;
  width: 98%;
  margin: auto;
}

.screen-splash,
.screen-login,
.screen-signup,
.screen-categories,
.screen-transactions,
.screen-add-transaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-add-category,
.screen-add-transaction {
  width: 80%;
  margin: 5% auto;
  padding: 5%;
  border: 1px solid grey;
  background: white;
}

.screen-splash {
  text-align: center;
  background-color: white;
  height: 100vw;
}

.splash-image {
  height: auto;
  width: 50%;
}

.flash_notice {
  border: 1px solid black;
  background-color: green;
  color: white;
}

.flash_alert {
  border: 1px solid black;
  background-color: red;
  color: white;
}

/* Categories  */
.category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.category-list a {
  text-decoration: none;
}

.category-list a:link {
  color: var(--foreg);
}

.category-list a:visited {
  color: var(--foreg);
}

.category-list a:hover {
  color: blue;
}

.category-entitie {
  width: 95vw;
  max-width: 456px;
  display: flex;
  padding: 5px 2px;
  margin: 0.5% 0;
  border: 1px solid grey;
  justify-content: center;
  gap: 5%;
  background-color: white;
}

.category-image {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.category-image img {
  width: 40px;
}

.category-name {
  flex: 1;
  font-size: 18px;
  text-align: left;
  padding-left: 2px;
}

.category-img {
  flex: 2;
}

.category-info {
  flex: 1;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.category-info p {
  font-size: 18px;
}

.category-add {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

/* Transactions  */

.transaction-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.transaction-detail-container {
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 456px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  background-color: white;
}

.title-transaction {
  font-size: large;
  font-weight: bold;
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.item-transaction {
  margin-top: 3px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.item-amount {
  text-align: right;
}
