@import './navbar.css';
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-size: 18px;
}

body {
  background-color: white;
}

html {
  /* For mobile */
  max-width: 480px;
  margin: auto;
  height: 500px;
  border-radius: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  padding-top: 0;
  text-align: center;
}

.screen-splash,
.screen-login,
.screen-signup,
.screen-categories {
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #2d2d2d;
  justify-content: center;
  align-items: center;
}

.splash-image {
  height: 50%;
  width: 50%;
}

.footer a {
  text-align: center;
}

.flash_notice {
  border: 1px solid black;
  background-color: green;
  color: white;
}

.flash_alert {
  border: 1px solid black;
  background-color: red;
  color: white;
}

.category-entitie {
  width: 90%;
  /* grid-template-columns: 50% 50%; */
  display: flex;
  padding: 5px;
  border: 1px solid grey;
}

.category-image {
  flex: 1;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.category-image img {
  width: 40px;
}

.category-name {
  flex: 1;
}

.category-img {
  flex: 1;
}

.category-info {
  flex: 1;
  font-weight: bold;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

ul {
  padding-inline-start: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.category-over_ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.category-list {
  width: 90%;
}

.category-list > li {
  list-style: none;
  margin: 10px 0;
  border: 1px black;
  border-radius: 3px;
}

.category-add {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
